:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  nav {
    display: flex;
    gap: 1rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &.active {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.content {
  margin-top: 64px; // height of toolbar
  padding: 0.5rem;
  flex: 1;
  overflow-y: auto;
}
